<H2>Form Sample</h2>

<form method="get">
    <h3>GET</h3>
    <p>value1</p>
    <input type="text" name="value1" value="<%-ro.query.get("value1") %>">
    <p>value2</p>
    <input type="text" name="value2" value="<%-ro.query.get("value2") %>">
    <p>value3</p>
    <textarea name="value3" style="width:500px;height:100px;"><%-ro.post.get("value3") %></textarea>
    <input type="submit" value="Submit">
</form>

<hr>

<form method="post">
    <h3>POST</h3>
    <p>value1</p>
    <input type="text" name="value1" value="<%-ro.post.get("value1") %>">
    <p>value2</p>
    <input type="text" name="value2" value="<%-ro.post.get("value2") %>">
    <p>value3</p>
    <textarea name="value3" style="width:500px;height:100px;"><%-ro.post.get("value3") %></textarea>
    <input type="submit" value="Submit">
</form>

<hr>

<form method="put">
    <h3>PUT</h3>
    <p>value1</p>
    <input type="text" name="value1" value="<%-ro.put.get("value1") %>">
    <p>value2</p>
    <input type="text" name="value2" value="<%-ro.put.get("value2") %>">
    <p>value3</p>
    <textarea name="value3" style="width:500px;height:100px;"><%-ro.put.get("value3") %>"></textarea>
    <input type="submit" value="Submit">
</form>

<hr>

<form method="post">
    <h3>POST (custom)</h3>
    <p>value0</p>
    <input type="text" name="value0">
    <p>value1</p>
    <label>
        <input type="checkbox" name="value1[]" value="1">1
    </label>
    <label>
        <input type="checkbox" name="value1[]" value="2">2
    </label>
    <label>
        <input type="checkbox" name="value1[]" value="3">3
    </label>
    <label>
        <input type="checkbox" name="value1[]" value="4">4
    </label>
    <p>value2[name]</p>
    <textarea name="value2[name]" style="width:500px;height:100px;"></textarea>
    <p>value2[code]</p>
    <input type="text" name="value2[code]">
    <p>value3(File)</p>
    <input type="file" name="value3">
    <input type="submit" value="Submit">
</form>
