<h2 class="mb-5">Table Control Add/Edit</h2>

<%- Ui.Form.start() %>

<%- Ui.Form.tagHidden("id"); %>
<form method="post">
	<table>
		<tr>
			<th>name</th>
			<td>
				<%- Ui.Form.tagInput("name",{
					style:"width:300px",
				}) %>
				<%- Ui.Form.error("name") %>
			</td>
		</tr>
		<tr>
			<th>code</th>
			<td>
				<%- Ui.Form.tagInput("code") %>
				<%- Ui.Form.error("code") %>
			</td>
		</tr>
		<tr>
			<th class="top">message</th>
			<td>
				<%- Ui.Form.tagTextarea("message",{
					style:"width:500px;height:200px",
				}) %>
				<%- Ui.Form.error("message") %>
			</td>
		</tr>
		
		<tr>
			<th></th>
			<td>				
				<%- Ui.Form.tagSubmitBtn("Submit",{
					class:"btn btn-success",
				}) %>
			</td>
		</tr>
	</table>
<%- Ui.Form.end() %>