<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        <a class="title" href="/">TestSample</a>
    </header>

    <div class="sidemenu">
        <div class="b">
            <p><a href="/">Top</a></p>
            <p><a href="/page">Page</a></p>
            <p><a href="/page/no_render">No Render Page</a>
            <p><a href="/page/no_template">No Template Page</a>
            <p><a href="/404test">Error (404 Not Found)</a></p>
            <p><a href="/500test">Error (500 Internal Server Error)</a></p>

            <p>Validator</p>
            <p><a href="/validate/1">Validate Test1</a></p>
            <p><a href="/validate/2">Validate Test2</a></p>
            <p><a href="/validate/3">Validate Test3</a></p>
            <p><a href="/validate/4">Validate Test4</a></p>
            <p><a href="/validate/5">Validate Test5</a></p>

            <p>Table</p>
            <p><a href="/table">Table Control Sample</a></p>

            <p>Ui</p>
            <p><a href="/ui/form">FormUi</a></p>
        </div>
    </div>

    <div class="contents">
        <%-ro.rendering.loadView() %>
    </div>

    <footer>

    </footer>

</body>
</html>