<h2>Validate Sample</h2>

<form method="post">

    <p>Value1 (required)</p>
    <input type="text" name="value1">

    <% if(validate.value1){ %>
        <div class="error">ERROR: <%-validate.get("value1") %></div>
    <% } %>

    <p>Value2 (minLength 6 chars)</p>
    <input type="text" name="value2">
    
    <% if(validate.value2){ %>
        <div class="error">ERROR: <%-validate.get("value2") %></div>
    <% } %>

    <p>Value3 (maxLength 100 chars)</p>
    <input type="text" name="value3">

    <% if(validate.value3){ %>
        <div class="error">ERROR: <%-validate.get("value3") %></div>
    <% } %>

    <input type="submit" value="Submit">

</form>